# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import seaborn as sns 

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [13]:
weather_data_df = pd.read_csv("part1_data/city_data.csv")
weather_data_df.head()

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudy,Wind Speed
0,0,Barrow,US,1595038838,71.29,-156.79,37.40,74,75,17.22
1,1,Cabo San Lucas,MX,1595039085,22.89,-109.91,86.00,58,5,16.11
2,2,Cururupu,BR,1595039085,-1.83,-44.87,73.09,93,10,0.51
3,3,Krasnoslobodsk,RU,1595039085,48.71,44.57,71.60,40,40,8.95
4,4,Ilulissat,GL,1595038909,69.22,-51.10,51.80,61,67,6.93

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [14]:
#Configure gmaps
gmaps.configure(api_key=g_key)

#Store latitude and longitude in locations
locations = weather_data_df[["Latitude", "Longitude"]]

#Use Humidity as weight and convert to float
weight = weather_data_df['Humidity'].astype(float)

In [15]:
#plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=np.max(weight),
                                 point_radius=3)


# Add layer
fig.add_layer(heat_layer)

#Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [18]:
#
narrow_city_data_df = weather_data_df.loc[(weather_data_df["Max Temperature"] > 70) & (weather_data_df["Max Temperature"] < 80) & (weather_data_df["Cloudy"] == 0), :]
narrow_city_data_df = narrow_city_data_df.dropna(how='any')
narrow_city_data_df.reset_index(inplace=True)
del narrow_city_data_df['index']
narrow_city_data_df.head()

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudy,Wind Speed
0,14,Albany,US,1595038873,42.60,-73.97,75.00,96,0,6.96
1,105,Guerrero Negro,MX,1595039099,27.98,-114.06,72.03,68,0,15.66
2,123,Sinjār,IQ,1595039102,36.32,41.88,79.48,35,0,11.36
3,166,Nekā,IR,1595039110,36.65,53.30,73.40,83,0,2.24
4,171,Alice Springs,AU,1595039043,-23.70,133.88,75.00,17,0,8.05

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [19]:
hotel_df = []

for x in range(len(narrow_city_data_df)):
    lat = narrow_city_data_df.loc[x]['Latitude']
    lng = narrow_city_data_df.loc[x]['Longitude']

    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotel_df.append(jsn['results'][0]['name'])
    except:
        hotel_df.append("")
narrow_city_data_df["Hotel Name"] = hotel_df
narrow_city_data_df = narrow_city_data_df.dropna(how='any')
narrow_city_data_df.head()

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudy,Wind Speed,Hotel Name
0,14,Albany,US,1595038873,42.60,-73.97,75.00,96,0,6.96,Voorheesville
1,105,Guerrero Negro,MX,1595039099,27.98,-114.06,72.03,68,0,15.66,Guerrero Negro
2,123,Sinjār,IQ,1595039102,36.32,41.88,79.48,35,0,11.36,Sinjar
3,166,Nekā,IR,1595039110,36.65,53.30,73.40,83,0,2.24,Neka
4,171,Alice Springs,AU,1595039043,-23.70,133.88,75.00,17,0,8.05,Alice Springs

In [23]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrow_city_data_df.iterrows()]
locations = narrow_city_data_df[["Latitude", "Longitude"]]

In [24]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))